a {
    color: black;
}

.body__icon{
    font-size: 24px;
    color:#3aaed8;
    padding-right:6px;        
}

.body_icon--right{
	padding-left:14px;
	
}

.btn-custom{
    color:#444444; 
    background-color:#2bd9fe; 
    border:0; 
    font-weight:700;
    padding: 7px 22px 7px 22px;
    
}

.btn-custom a, a:active{
    color:#444444; 
    text-decoration:none;
}

.header{
	background: white;
	max-height: 130px;
	
}

.header__title{
    color: #52aa5e;
    padding-left:10px;
    
}


.menu {
    background: #388659;
	color: #ffffff;
	max-height: 60px;
}

.menu__item {
    margin-right: 70px;
}

.menu__item a {
	font-family: Helvetica;
    font-size:18px;
    font-weight:500;
	color: #ffffff;
}

.nav__icon{
    font-size:26px; 
    vertical-align:center;  
    
}

.menu__icon a{
	font-family: Helvetica;
    font-weight:500;
	color: #ffffff;
}

.form-custom {
	margin: 30px 0 30px 0;
}

.form-custom__input{ 
    border-color: #3aaed8;
	border-radius:20px !important;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.card-custom{
	border:0;	
}

.card-custom__img{
  width:100%  
    
}

.card-custom__body{
    padding:5px;
}

.card-custom__title{
    margin-bottom:7px;
    font-weight:400;
      
}
    

.align-middle_custom {
  line-height: 40px;
}

.columns{
  height: 100px;
  display: flex;
  align-items: center;
}

.card-text{
	margin-bottom:0;
	padding-bottom:0;
}

.footer-custom{
    background-color:#388659;
    color:#ffffff;
    padding:15px;
    
}

.footer__title{
    margin: 10px 0 7px 0;
    font-weight:500;
}

.footer__text{
    padding: 0;
    margin:0;
    
}


/****Product View*****/
.product-picture{
    padding: 50px 50px 50px 0px;
}

.product-information{
   padding:50px;
}

.product-information__price{
	padding-top:30px;
}

.midle-weight-heading{
    font-weight:400;
}

.heavy-weight-heading{
	font-weight:500;
}

.left-item{
    float:left;
    
}

.right-item{
    float:right;
}

.add-button{
  padding-top:50px;  
}

.description{
    padding-left:50px; 
    padding-top:30px; 
    padding-bottom:30px;
}

.description p {
	padding-top:30px;
}

.subtotal{
   padding-left:100px; 
    padding-top:130px; 
}

/****Cart*****/

.cart__row{
	padding-bottom:20px;
}

.table-custom{
    padding-top:50px; 
    padding-right:50px;    
    
}

.table__table{
    border: solid 1px #52aa8a; 
    border-collapse: separate;
    border-spacing: 0;"
}

.td_first{
	width:25%;
}

.td_second{
	width:35%;
}

.td_third{
	width:20%;
}

.td_forth {
	width:20%;
}

.cart__subtotal{
	max-width:300px; 
	padding-left:100px; 
	padding-top:20px;
}

/*Select*/

.select {
    position: relative;
    margin-bottom: 1rem;
	max-width:100px; 
	margin:0 auto;
}

.select:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;

    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
	
}

.select select {
    display: block;
    width: 100%;
    padding-left:20px;
    background: linear-gradient(to right, transparent 60%, #3aaed8 40%);
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    color: #444;
}


.select select:focus {
    outline: 0;
    border-color: 0891e6;
}

/*****Login*****/

.login{
	padding-top:50px; 
	max-width:300px;
}

.login__inner{
	border: solid 1px #52aa8a;
}

.login__form{
	padding:15px;
}

.login__sign-in{
	padding-top:20px;
}

.login p{
	 padding:10px 0 10px 0;
 }

 /***** Customer Data******/
 .customer-data{
	 border: solid 1px #52aa8a; 
 }
 
 .label-text{
	 text-align:right;
 }


/****Media****/

@media (max-width: 375px) {
    h1 {
        font-size: 20px;
    }
}

@media (max-width: 1200px) and (min-width: 374px) {
    h1 {
        font-size: 30px;
    }
	.menu {
	max-height: 300px;
}
}



@media (max-width: 768px){
	
p{
	font-size:18px;
}	

.product-picture{
    padding: 45px 30px 0 30px;
}

.card-custom{
	padding:5px 15px 0 15px;	
}



.subtotal{
	padding: 30px;
}

.product-information{
    padding:30px;
}

.description{
     padding:30px;
}

.add-button{
  padding-top:20px;  
}

.btn-custom{
	font-size:18px;
}

.table-custom{
    padding:25px 10px 25px 10px;  
    
}

.table__table img{
	min-width:120px;
}

.footer-custom{
    margin-top:25px;
	padding-right:0;
    
}  

.td_first{
	width:20%;
}

.td_second{
	width:20%;
}

.td_third{
	width:45%;
}

.td_forth {
	width:15%;
}

.cart__subtotal{
	padding-top:10px;
}

.cart_row{
	padding-bottom:0;
}

.login{
	padding-top:10px;
}

}
